USE [master]
GO
/****** Object:  Database [appDatvexemPhim]    Script Date: 4/20/2026 5:02:52 PM ******/
CREATE DATABASE [appDatvexemPhim]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'appDatvexemPhim', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\appDatvexemPhim.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'appDatvexemPhim_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\appDatvexemPhim_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [appDatvexemPhim].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [appDatvexemPhim]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 4/20/2026 5:02:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[AccountID] [int] IDENTITY(1,1) NOT NULL,
	[AccountName] [nvarchar](100) NOT NULL,
	[AccountPassword] [nvarchar](255) NOT NULL,
	[AccountType] [nvarchar](20) NOT NULL,
	[IsActive] [bit] NULL,
	[IsVerified] [bit] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[AccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuditLog]    Script Date: 4/20/2026 5:02:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditLog](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[AccountID] [int] NOT NULL,
	[Action] [nvarchar](100) NOT NULL,
	[TableName] [nvarchar](50) NULL,
	[RecordID] [int] NULL,
	[OldValue] [nvarchar](max) NULL,
	[NewValue] [nvarchar](max) NULL,
	[IPAddress] [nvarchar](45) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Booking]    Script Date: 4/20/2026 5:02:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Booking](
	[BookingID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[ShowID] [int] NOT NULL,
	[TotalSeats] [int] NOT NULL,
	[TotalAmount] [decimal](10, 2) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[BookingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookingProduct]    Script Date: 4/20/2026 5:02:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookingProduct](
	[BookingProductID] [int] IDENTITY(1,1) NOT NULL,
	[BookingID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BookingProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookingSeat]    Script Date: 4/20/2026 5:02:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookingSeat](
	[BookingSeatID] [int] IDENTITY(1,1) NOT NULL,
	[BookingID] [int] NOT NULL,
	[ShowID] [int] NOT NULL,
	[SeatID] [int] NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[TicketPrice] [decimal](10, 2) NOT NULL,
	[HoldUntil] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[BookingSeatID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cinema]    Script Date: 4/20/2026 5:02:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cinema](
	[CinemaID] [int] IDENTITY(1,1) NOT NULL,
	[CinemaName] [nvarchar](200) NOT NULL,
	[Address] [nvarchar](500) NULL,
	[District] [nvarchar](100) NULL,
	[CityID] [int] NOT NULL,
	[Latitude] [decimal](9, 6) NULL,
	[Longitude] [decimal](9, 6) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[CinemaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CinemaHall]    Script Date: 4/20/2026 5:02:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CinemaHall](
	[HallID] [int] IDENTITY(1,1) NOT NULL,
	[CinemaID] [int] NOT NULL,
	[HallName] [nvarchar](100) NOT NULL,
	[TotalRows] [int] NOT NULL,
	[TotalCols] [int] NOT NULL,
	[TotalSeats] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[HallID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CinemaHallSeat]    Script Date: 4/20/2026 5:02:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CinemaHallSeat](
	[SeatID] [int] IDENTITY(1,1) NOT NULL,
	[HallID] [int] NOT NULL,
	[SeatNumber] [nvarchar](10) NOT NULL,
	[SeatType] [nvarchar](20) NOT NULL,
	[SeatPrice] [decimal](10, 2) NULL,
	[PairID] [int] NULL,
	[RowIndex] [int] NOT NULL,
	[ColIndex] [int] NOT NULL,
	[IsAisle] [bit] NULL,
	[RowVersion] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SeatID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[City]    Script Date: 4/20/2026 5:02:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[CityID] [int] IDENTITY(1,1) NOT NULL,
	[CityName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 4/20/2026 5:02:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[AccountID] [int] NOT NULL,
	[CustomerName] [nvarchar](100) NOT NULL,
	[CustomerEmail] [nvarchar](200) NOT NULL,
	[CustomerPhone] [nvarchar](20) NULL,
	[CustomerGender] [nvarchar](10) NULL,
	[CustomerDOB] [date] NULL,
	[LoyaltyPoints] [int] NULL,
	[AvatarUrl] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LikeMovie]    Script Date: 4/20/2026 5:02:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LikeMovie](
	[CustomerID] [int] NOT NULL,
	[MovieID] [int] NOT NULL,
	[IsLiked] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC,
	[MovieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoyaltyPointHistory]    Script Date: 4/20/2026 5:02:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoyaltyPointHistory](
	[HistoryID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[BookingID] [int] NULL,
	[Points] [int] NOT NULL,
	[Type] [nvarchar](20) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[HistoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movie]    Script Date: 4/20/2026 5:02:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movie](
	[MovieID] [int] IDENTITY(1,1) NOT NULL,
	[MovieTitle] [nvarchar](200) NOT NULL,
	[MovieGenre] [nvarchar](100) NULL,
	[MovieLanguage] [nvarchar](50) NULL,
	[MovieRuntime] [int] NULL,
	[MovieReleaseDate] [date] NULL,
	[MovieActor] [nvarchar](500) NULL,
	[MovieDirector] [nvarchar](200) NULL,
	[MovieDescription] [nvarchar](2000) NULL,
	[TrailerUrl] [nvarchar](500) NULL,
	[Rating] [decimal](3, 1) NULL,
	[IsFeatured] [bit] NULL,
	[FeaturedOrder] [int] NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MovieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notification]    Script Date: 4/20/2026 5:02:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notification](
	[NotificationID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[Title] [nvarchar](200) NULL,
	[Message] [nvarchar](500) NOT NULL,
	[Type] [nvarchar](30) NULL,
	[DateSend] [datetime] NULL,
	[IsRead] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[NotificationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 4/20/2026 5:02:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[BookingID] [int] NOT NULL,
	[VoucherID] [int] NULL,
	[Amount] [decimal](10, 2) NOT NULL,
	[DiscountAmount] [decimal](10, 2) NULL,
	[PaymentMethod] [nvarchar](20) NULL,
	[PaymentDate] [datetime] NULL,
	[Status] [nvarchar](20) NOT NULL,
	[RefundAmount] [decimal](10, 2) NULL,
	[RefundAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 4/20/2026 5:02:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](200) NOT NULL,
	[ProductDescription] [nvarchar](500) NULL,
	[ProductPrice] [decimal](10, 2) NOT NULL,
	[ImageProduct] [nvarchar](500) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Show]    Script Date: 4/20/2026 5:02:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Show](
	[ShowID] [int] IDENTITY(1,1) NOT NULL,
	[MovieID] [int] NOT NULL,
	[HallID] [int] NOT NULL,
	[ShowDate] [date] NOT NULL,
	[ShowTime] [time](7) NOT NULL,
	[EndTime] [time](7) NOT NULL,
	[Format] [nvarchar](10) NOT NULL,
	[BasePrice] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ShowID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemSettings]    Script Date: 4/20/2026 5:02:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemSettings](
	[SettingID] [int] IDENTITY(1,1) NOT NULL,
	[SettingKey] [nvarchar](100) NOT NULL,
	[SettingValue] [nvarchar](500) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[UpdatedAt] [datetime] NULL,
	[UpdatedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SettingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Voucher]    Script Date: 4/20/2026 5:02:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Voucher](
	[VoucherID] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[DiscountType] [nvarchar](10) NOT NULL,
	[DiscountValue] [decimal](10, 2) NOT NULL,
	[MaxDiscount] [decimal](10, 2) NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NOT NULL,
	[IsActive] [bit] NULL,
	[UsageLimit] [int] NOT NULL,
	[UsageCount] [int] NULL,
	[MinTicketQty] [int] NULL,
	[MinOrderValue] [decimal](10, 2) NULL,
	[ApplicableFormat] [nvarchar](10) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[VoucherID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VoucherCustomer]    Script Date: 4/20/2026 5:02:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VoucherCustomer](
	[VoucherID] [int] NOT NULL,
	[CustomerID] [int] NOT NULL,
	[AssignedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[VoucherID] ASC,
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VoucherUsage]    Script Date: 4/20/2026 5:02:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VoucherUsage](
	[VUsageID] [int] IDENTITY(1,1) NOT NULL,
	[VoucherID] [int] NOT NULL,
	[CustomerID] [int] NOT NULL,
	[BookingID] [int] NULL,
	[UsedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[VUsageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([AccountID], [AccountName], [AccountPassword], [AccountType], [IsActive], [IsVerified], [CreatedAt]) VALUES (29, N'nguyenjane@example.com', N'hashed_password', N'CUSTOMER', 1, 1, CAST(N'2026-04-20T16:46:37.043' AS DateTime))
INSERT [dbo].[Account] ([AccountID], [AccountName], [AccountPassword], [AccountType], [IsActive], [IsVerified], [CreatedAt]) VALUES (30, N'nguyenjohn@example.net', N'hashed_password', N'CUSTOMER', 1, 1, CAST(N'2026-04-20T16:46:37.043' AS DateTime))
INSERT [dbo].[Account] ([AccountID], [AccountName], [AccountPassword], [AccountType], [IsActive], [IsVerified], [CreatedAt]) VALUES (31, N'john06@example.org', N'hashed_password', N'CUSTOMER', 1, 1, CAST(N'2026-04-20T16:46:37.050' AS DateTime))
SET IDENTITY_INSERT [dbo].[Account] OFF
GO
SET IDENTITY_INSERT [dbo].[Booking] ON 

INSERT [dbo].[Booking] ([BookingID], [CustomerID], [ShowID], [TotalSeats], [TotalAmount], [Status], [CreatedAt], [UpdatedAt]) VALUES (1, 45, 32, 1, CAST(120000.00 AS Decimal(10, 2)), N'CONFIRMED', CAST(N'2026-04-20T16:46:37.313' AS DateTime), CAST(N'2026-04-20T16:46:37.313' AS DateTime))
INSERT [dbo].[Booking] ([BookingID], [CustomerID], [ShowID], [TotalSeats], [TotalAmount], [Status], [CreatedAt], [UpdatedAt]) VALUES (2, 56, 3, 1, CAST(120000.00 AS Decimal(10, 2)), N'CONFIRMED', CAST(N'2026-04-20T16:46:37.350' AS DateTime), CAST(N'2026-04-20T16:46:37.350' AS DateTime))
INSERT [dbo].[Booking] ([BookingID], [CustomerID], [ShowID], [TotalSeats], [TotalAmount], [Status], [CreatedAt], [UpdatedAt]) VALUES (3, 32, 6, 1, CAST(120000.00 AS Decimal(10, 2)), N'CONFIRMED', CAST(N'2026-04-20T16:46:37.353' AS DateTime), CAST(N'2026-04-20T16:46:37.353' AS DateTime))
SET IDENTITY_INSERT [dbo].[Booking] OFF
GO
SET IDENTITY_INSERT [dbo].[BookingSeat] ON 

INSERT [dbo].[BookingSeat] ([BookingSeatID], [BookingID], [ShowID], [SeatID], [Status], [TicketPrice], [HoldUntil]) VALUES (1, 1, 32, 2081, N'BOOKED', CAST(120000.00 AS Decimal(10, 2)), NULL)
INSERT [dbo].[BookingSeat] ([BookingSeatID], [BookingID], [ShowID], [SeatID], [Status], [TicketPrice], [HoldUntil]) VALUES (2, 2, 3, 2641, N'BOOKED', CAST(120000.00 AS Decimal(10, 2)), NULL)
INSERT [dbo].[BookingSeat] ([BookingSeatID], [BookingID], [ShowID], [SeatID], [Status], [TicketPrice], [HoldUntil]) VALUES (3, 3, 6, 3041, N'BOOKED', CAST(120000.00 AS Decimal(10, 2)), NULL)
SET IDENTITY_INSERT [dbo].[BookingSeat] OFF
GO
SET IDENTITY_INSERT [dbo].[Cinema] ON 

INSERT [dbo].[Cinema] ([CinemaID], [CinemaName], [Address], [District], [CityID], [Latitude], [Longitude], [IsActive]) VALUES (9, N'Cinema Phạm Doanh nghiệp tư nhân Quận 7', N'0 Phạm Khu
JaneXã, 732441', N'Quận 7', 6, CAST(13.475665 AS Decimal(9, 6)), CAST(105.038729 AS Decimal(9, 6)), 1)
INSERT [dbo].[Cinema] ([CinemaID], [CinemaName], [Address], [District], [CityID], [Latitude], [Longitude], [IsActive]) VALUES (10, N'Cinema Bùi và Dương Công ty TNHH Quận Ba Đình', N'9 Hoàng Ngõ
Huyện JaneHuyện, 686857', N'Quận Ba Đình', 7, CAST(20.651917 AS Decimal(9, 6)), CAST(108.384330 AS Decimal(9, 6)), 1)
INSERT [dbo].[Cinema] ([CinemaID], [CinemaName], [Address], [District], [CityID], [Latitude], [Longitude], [IsActive]) VALUES (11, N'Cinema Nguyễn và đối tác Công ty Trách nhiệm hữu hạn Quận Hai Bà Trưng', N'8 Jane Dãy
Huyện JohnHuyện, 588849', N'Quận Hai Bà Trưng', 7, CAST(20.514882 AS Decimal(9, 6)), CAST(108.452402 AS Decimal(9, 6)), 1)
SET IDENTITY_INSERT [dbo].[Cinema] OFF
GO
SET IDENTITY_INSERT [dbo].[CinemaHall] ON 

INSERT [dbo].[CinemaHall] ([HallID], [CinemaID], [HallName], [TotalRows], [TotalCols], [TotalSeats]) VALUES (25, 9, N'Hall 1', 8, 10, 64)
INSERT [dbo].[CinemaHall] ([HallID], [CinemaID], [HallName], [TotalRows], [TotalCols], [TotalSeats]) VALUES (26, 9, N'Hall 2', 8, 10, 64)
INSERT [dbo].[CinemaHall] ([HallID], [CinemaID], [HallName], [TotalRows], [TotalCols], [TotalSeats]) VALUES (27, 9, N'Hall 3', 8, 10, 64)
SET IDENTITY_INSERT [dbo].[CinemaHall] OFF
GO
SET IDENTITY_INSERT [dbo].[CinemaHallSeat] ON 

INSERT [dbo].[CinemaHallSeat] ([SeatID], [HallID], [SeatNumber], [SeatType], [SeatPrice], [PairID], [RowIndex], [ColIndex], [IsAisle], [RowVersion]) VALUES (1921, 25, N'A1', N'STANDARD', CAST(0.00 AS Decimal(10, 2)), NULL, 0, 0, 0, 0)
INSERT [dbo].[CinemaHallSeat] ([SeatID], [HallID], [SeatNumber], [SeatType], [SeatPrice], [PairID], [RowIndex], [ColIndex], [IsAisle], [RowVersion]) VALUES (1922, 25, N'A2', N'STANDARD', CAST(0.00 AS Decimal(10, 2)), NULL, 0, 1, 0, 0)
INSERT [dbo].[CinemaHallSeat] ([SeatID], [HallID], [SeatNumber], [SeatType], [SeatPrice], [PairID], [RowIndex], [ColIndex], [IsAisle], [RowVersion]) VALUES (1923, 25, N'Aisle 3', N'EMPTY', CAST(0.00 AS Decimal(10, 2)), NULL, 0, 2, 1, 0)
GO
SET IDENTITY_INSERT [dbo].[CinemaHallSeat] OFF
GO
SET IDENTITY_INSERT [dbo].[City] ON 

INSERT [dbo].[City] ([CityID], [CityName]) VALUES (6, N'TP. Hồ Chí Minh')
INSERT [dbo].[City] ([CityID], [CityName]) VALUES (7, N'Hà Nội')
INSERT [dbo].[City] ([CityID], [CityName]) VALUES (8, N'Đà Nẵng')
SET IDENTITY_INSERT [dbo].[City] OFF
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([CustomerID], [AccountID], [CustomerName], [CustomerEmail], [CustomerPhone], [CustomerGender], [CustomerDOB], [LoyaltyPoints], [AvatarUrl]) VALUES (28, 29, N'Kim Hải Trần', N'nguyenjane@example.com', N'(00) 3959 8655', N'Nữ', CAST(N'2008-09-06' AS Date), 251, NULL)
INSERT [dbo].[Customer] ([CustomerID], [AccountID], [CustomerName], [CustomerEmail], [CustomerPhone], [CustomerGender], [CustomerDOB], [LoyaltyPoints], [AvatarUrl]) VALUES (29, 30, N'Quý cô Dương Phạm', N'nguyenjohn@example.net', N'05 6231 5490', N'Nam', CAST(N'1988-06-13' AS Date), 88, NULL)
INSERT [dbo].[Customer] ([CustomerID], [AccountID], [CustomerName], [CustomerEmail], [CustomerPhone], [CustomerGender], [CustomerDOB], [LoyaltyPoints], [AvatarUrl]) VALUES (30, 31, N'Ông Thành Mai', N'john06@example.org', N'+84-47-878 1898', N'Nữ', CAST(N'1998-09-04' AS Date), 194, NULL)
SET IDENTITY_INSERT [dbo].[Customer] OFF
GO
SET IDENTITY_INSERT [dbo].[Movie] ON 

INSERT [dbo].[Movie] ([MovieID], [MovieTitle], [MovieGenre], [MovieLanguage], [MovieRuntime], [MovieReleaseDate], [MovieActor], [MovieDirector], [MovieDescription], [TrailerUrl], [Rating], [IsFeatured], [FeaturedOrder], [IsActive]) VALUES (1, N'Mai', N'Hành động/Hài', N'Tiếng Việt', 116, CAST(N'2026-04-20' AS Date), N'Diễn viên A, B, C', N'Đạo diễn X', N'Mô tả phim Mai', N'https://youtube.com/...', CAST(9.2 AS Decimal(3, 1)), 1, 0, 1)
INSERT [dbo].[Movie] ([MovieID], [MovieTitle], [MovieGenre], [MovieLanguage], [MovieRuntime], [MovieReleaseDate], [MovieActor], [MovieDirector], [MovieDescription], [TrailerUrl], [Rating], [IsFeatured], [FeaturedOrder], [IsActive]) VALUES (2, N'Gặp Lại Chị Bầu', N'Hành động/Hài', N'Tiếng Việt', 118, CAST(N'2026-04-20' AS Date), N'Diễn viên A, B, C', N'Đạo diễn X', N'Mô tả phim Gặp Lại Chị Bầu', N'https://youtube.com/...', CAST(7.9 AS Decimal(3, 1)), 1, 1, 1)
INSERT [dbo].[Movie] ([MovieID], [MovieTitle], [MovieGenre], [MovieLanguage], [MovieRuntime], [MovieReleaseDate], [MovieActor], [MovieDirector], [MovieDescription], [TrailerUrl], [Rating], [IsFeatured], [FeaturedOrder], [IsActive]) VALUES (3, N'Quỷ Cẩu', N'Hành động/Hài', N'Tiếng Việt', 147, CAST(N'2026-04-20' AS Date), N'Diễn viên A, B, C', N'Đạo diễn X', N'Mô tả phim Quỷ Cẩu', N'https://youtube.com/...', CAST(8.0 AS Decimal(3, 1)), 1, 2, 1)
SET IDENTITY_INSERT [dbo].[Movie] OFF
GO
SET IDENTITY_INSERT [dbo].[Notification] ON 

INSERT [dbo].[Notification] ([NotificationID], [CustomerID], [Title], [Message], [Type], [DateSend], [IsRead]) VALUES (1, 28, N'Đặt vé thành công', N'Bạn đã đặt vé thành công cho phim Mai', N'BOOKING', CAST(N'2026-04-20T16:46:37.570' AS DateTime), 0)
INSERT [dbo].[Notification] ([NotificationID], [CustomerID], [Title], [Message], [Type], [DateSend], [IsRead]) VALUES (2, 29, N'Đặt vé thành công', N'Bạn đã đặt vé thành công cho phim Mai', N'BOOKING', CAST(N'2026-04-20T16:46:37.570' AS DateTime), 0)
INSERT [dbo].[Notification] ([NotificationID], [CustomerID], [Title], [Message], [Type], [DateSend], [IsRead]) VALUES (3, 30, N'Đặt vé thành công', N'Bạn đã đặt vé thành công cho phim Mai', N'BOOKING', CAST(N'2026-04-20T16:46:37.570' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[Notification] OFF
GO
SET IDENTITY_INSERT [dbo].[Payment] ON 

INSERT [dbo].[Payment] ([PaymentID], [BookingID], [VoucherID], [Amount], [DiscountAmount], [PaymentMethod], [PaymentDate], [Status], [RefundAmount], [RefundAt]) VALUES (1, 1, NULL, CAST(120000.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), N'QR_MOMO', CAST(N'2026-04-20T16:46:37.350' AS DateTime), N'SUCCESS', CAST(0.00 AS Decimal(10, 2)), NULL)
INSERT [dbo].[Payment] ([PaymentID], [BookingID], [VoucherID], [Amount], [DiscountAmount], [PaymentMethod], [PaymentDate], [Status], [RefundAmount], [RefundAt]) VALUES (2, 2, NULL, CAST(120000.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), N'QR_MOMO', CAST(N'2026-04-20T16:46:37.353' AS DateTime), N'SUCCESS', CAST(0.00 AS Decimal(10, 2)), NULL)
INSERT [dbo].[Payment] ([PaymentID], [BookingID], [VoucherID], [Amount], [DiscountAmount], [PaymentMethod], [PaymentDate], [Status], [RefundAmount], [RefundAt]) VALUES (3, 3, NULL, CAST(120000.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), N'QR_MOMO', CAST(N'2026-04-20T16:46:37.357' AS DateTime), N'SUCCESS', CAST(0.00 AS Decimal(10, 2)), NULL)
SET IDENTITY_INSERT [dbo].[Payment] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([ProductID], [ProductName], [ProductDescription], [ProductPrice], [ImageProduct], [IsActive]) VALUES (1, N'Bắp Rang Bơ', NULL, CAST(50000.00 AS Decimal(10, 2)), NULL, 1)
INSERT [dbo].[Product] ([ProductID], [ProductName], [ProductDescription], [ProductPrice], [ImageProduct], [IsActive]) VALUES (2, N'Nước Ngọt', NULL, CAST(30000.00 AS Decimal(10, 2)), NULL, 1)
INSERT [dbo].[Product] ([ProductID], [ProductName], [ProductDescription], [ProductPrice], [ImageProduct], [IsActive]) VALUES (3, N'Combo Couple', NULL, CAST(120000.00 AS Decimal(10, 2)), NULL, 1)
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[Show] ON 

INSERT [dbo].[Show] ([ShowID], [MovieID], [HallID], [ShowDate], [ShowTime], [EndTime], [Format], [BasePrice]) VALUES (1, 7, 37, CAST(N'2026-04-25' AS Date), CAST(N'15:00:00' AS Time), CAST(N'17:15:00' AS Time), N'IMAX', CAST(75000.00 AS Decimal(10, 2)))
INSERT [dbo].[Show] ([ShowID], [MovieID], [HallID], [ShowDate], [ShowTime], [EndTime], [Format], [BasePrice]) VALUES (2, 5, 26, CAST(N'2026-04-22' AS Date), CAST(N'15:30:00' AS Time), CAST(N'17:45:00' AS Time), N'3D', CAST(75000.00 AS Decimal(10, 2)))
INSERT [dbo].[Show] ([ShowID], [MovieID], [HallID], [ShowDate], [ShowTime], [EndTime], [Format], [BasePrice]) VALUES (3, 4, 34, CAST(N'2026-04-24' AS Date), CAST(N'17:30:00' AS Time), CAST(N'19:45:00' AS Time), N'3D', CAST(75000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Show] OFF
GO
SET IDENTITY_INSERT [dbo].[SystemSettings] ON 

INSERT [dbo].[SystemSettings] ([SettingID], [SettingKey], [SettingValue], [Description], [UpdatedAt], [UpdatedBy]) VALUES (1, N'LOYALTY_POINTS_RATE', N'1000', N'T? t?: m?i X d?ng = 1 di?m', CAST(N'2026-04-20T16:45:54.290' AS DateTime), NULL)
INSERT [dbo].[SystemSettings] ([SettingID], [SettingKey], [SettingValue], [Description], [UpdatedAt], [UpdatedBy]) VALUES (2, N'CANCEL_FULL_REFUND_HOURS', N'24', N'Hoàn 100% n?u h?y tru?c X gi?', CAST(N'2026-04-20T16:45:54.290' AS DateTime), NULL)
INSERT [dbo].[SystemSettings] ([SettingID], [SettingKey], [SettingValue], [Description], [UpdatedAt], [UpdatedBy]) VALUES (3, N'CANCEL_PARTIAL_REFUND_HOURS', N'2', N'Hoàn 70% n?u h?y tru?c X gi?', CAST(N'2026-04-20T16:45:54.290' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[SystemSettings] OFF
GO
SET IDENTITY_INSERT [dbo].[Voucher] ON 

INSERT [dbo].[Voucher] ([VoucherID], [Code], [DiscountType], [DiscountValue], [MaxDiscount], [StartDate], [EndDate], [IsActive], [UsageLimit], [UsageCount], [MinTicketQty], [MinOrderValue], [ApplicableFormat], [CreatedAt]) VALUES (1, N'GIAM20', N'PERCENT', CAST(20.00 AS Decimal(10, 2)), NULL, CAST(N'2026-04-20' AS Date), CAST(N'2026-05-20' AS Date), 1, 100, 0, 1, CAST(100000.00 AS Decimal(10, 2)), N'ALL', CAST(N'2026-04-20T16:46:37.307' AS DateTime))
SET IDENTITY_INSERT [dbo].[Voucher] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Account__406E0D2EABBB3BF6]    Script Date: 4/20/2026 5:02:53 PM ******/
ALTER TABLE [dbo].[Account] ADD UNIQUE NONCLUSTERED 
(
	[AccountName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Customer__349DA587979A08C0]    Script Date: 4/20/2026 5:02:53 PM ******/
ALTER TABLE [dbo].[Customer] ADD UNIQUE NONCLUSTERED 
(
	[AccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Payment__73951ACC1D0F16BC]    Script Date: 4/20/2026 5:02:53 PM ******/
ALTER TABLE [dbo].[Payment] ADD UNIQUE NONCLUSTERED 
(
	[BookingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__SystemSe__01E719ADF3A34FD4]    Script Date: 4/20/2026 5:02:53 PM ******/
ALTER TABLE [dbo].[SystemSettings] ADD UNIQUE NONCLUSTERED 
(
	[SettingKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Voucher__A25C5AA7048BF36B]    Script Date: 4/20/2026 5:02:53 PM ******/
ALTER TABLE [dbo].[Voucher] ADD UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Account] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Account] ADD  DEFAULT ((0)) FOR [IsVerified]
GO
ALTER TABLE [dbo].[Account] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[AuditLog] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Booking] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Booking] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[BookingProduct] ADD  DEFAULT ((1)) FOR [Quantity]
GO
ALTER TABLE [dbo].[Cinema] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[CinemaHallSeat] ADD  DEFAULT ((0)) FOR [SeatPrice]
GO
ALTER TABLE [dbo].[CinemaHallSeat] ADD  DEFAULT ((0)) FOR [IsAisle]
GO
ALTER TABLE [dbo].[CinemaHallSeat] ADD  DEFAULT ((0)) FOR [RowVersion]
GO
ALTER TABLE [dbo].[Customer] ADD  DEFAULT ((0)) FOR [LoyaltyPoints]
GO
ALTER TABLE [dbo].[LikeMovie] ADD  DEFAULT ((1)) FOR [IsLiked]
GO
ALTER TABLE [dbo].[LoyaltyPointHistory] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Movie] ADD  DEFAULT ((0)) FOR [IsFeatured]
GO
ALTER TABLE [dbo].[Movie] ADD  DEFAULT ((0)) FOR [FeaturedOrder]
GO
ALTER TABLE [dbo].[Movie] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Notification] ADD  DEFAULT (getdate()) FOR [DateSend]
GO
ALTER TABLE [dbo].[Notification] ADD  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[Payment] ADD  DEFAULT ((0)) FOR [DiscountAmount]
GO
ALTER TABLE [dbo].[Payment] ADD  DEFAULT (getdate()) FOR [PaymentDate]
GO
ALTER TABLE [dbo].[Payment] ADD  DEFAULT ((0)) FOR [RefundAmount]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[SystemSettings] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Voucher] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Voucher] ADD  DEFAULT ((0)) FOR [UsageCount]
GO
ALTER TABLE [dbo].[Voucher] ADD  DEFAULT ((1)) FOR [MinTicketQty]
GO
ALTER TABLE [dbo].[Voucher] ADD  DEFAULT ((0)) FOR [MinOrderValue]
GO
ALTER TABLE [dbo].[Voucher] ADD  DEFAULT ('ALL') FOR [ApplicableFormat]
GO
ALTER TABLE [dbo].[Voucher] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[VoucherCustomer] ADD  DEFAULT (getdate()) FOR [AssignedAt]
GO
ALTER TABLE [dbo].[VoucherUsage] ADD  DEFAULT (getdate()) FOR [UsedAt]
GO
ALTER TABLE [dbo].[AuditLog]  WITH CHECK ADD FOREIGN KEY([AccountID])
REFERENCES [dbo].[Account] ([AccountID])
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([CustomerID])
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD FOREIGN KEY([ShowID])
REFERENCES [dbo].[Show] ([ShowID])
GO
ALTER TABLE [dbo].[BookingProduct]  WITH CHECK ADD FOREIGN KEY([BookingID])
REFERENCES [dbo].[Booking] ([BookingID])
GO
ALTER TABLE [dbo].[BookingProduct]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[BookingSeat]  WITH CHECK ADD FOREIGN KEY([BookingID])
REFERENCES [dbo].[Booking] ([BookingID])
GO
ALTER TABLE [dbo].[BookingSeat]  WITH CHECK ADD FOREIGN KEY([SeatID])
REFERENCES [dbo].[CinemaHallSeat] ([SeatID])
GO
ALTER TABLE [dbo].[BookingSeat]  WITH CHECK ADD FOREIGN KEY([ShowID])
REFERENCES [dbo].[Show] ([ShowID])
GO
ALTER TABLE [dbo].[Cinema]  WITH CHECK ADD FOREIGN KEY([CityID])
REFERENCES [dbo].[City] ([CityID])
GO
ALTER TABLE [dbo].[CinemaHall]  WITH CHECK ADD FOREIGN KEY([CinemaID])
REFERENCES [dbo].[Cinema] ([CinemaID])
GO
ALTER TABLE [dbo].[CinemaHallSeat]  WITH CHECK ADD FOREIGN KEY([HallID])
REFERENCES [dbo].[CinemaHall] ([HallID])
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD FOREIGN KEY([AccountID])
REFERENCES [dbo].[Account] ([AccountID])
GO
ALTER TABLE [dbo].[LikeMovie]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([CustomerID])
GO
ALTER TABLE [dbo].[LikeMovie]  WITH CHECK ADD FOREIGN KEY([MovieID])
REFERENCES [dbo].[Movie] ([MovieID])
GO
ALTER TABLE [dbo].[LoyaltyPointHistory]  WITH CHECK ADD FOREIGN KEY([BookingID])
REFERENCES [dbo].[Booking] ([BookingID])
GO
ALTER TABLE [dbo].[LoyaltyPointHistory]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([CustomerID])
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([CustomerID])
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD FOREIGN KEY([BookingID])
REFERENCES [dbo].[Booking] ([BookingID])
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD FOREIGN KEY([VoucherID])
REFERENCES [dbo].[Voucher] ([VoucherID])
GO
ALTER TABLE [dbo].[Show]  WITH CHECK ADD FOREIGN KEY([HallID])
REFERENCES [dbo].[CinemaHall] ([HallID])
GO
ALTER TABLE [dbo].[Show]  WITH CHECK ADD FOREIGN KEY([MovieID])
REFERENCES [dbo].[Movie] ([MovieID])
GO
ALTER TABLE [dbo].[SystemSettings]  WITH CHECK ADD FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[Account] ([AccountID])
GO
ALTER TABLE [dbo].[VoucherCustomer]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([CustomerID])
GO
ALTER TABLE [dbo].[VoucherCustomer]  WITH CHECK ADD FOREIGN KEY([VoucherID])
REFERENCES [dbo].[Voucher] ([VoucherID])
GO
ALTER TABLE [dbo].[VoucherUsage]  WITH CHECK ADD FOREIGN KEY([BookingID])
REFERENCES [dbo].[Booking] ([BookingID])
GO
ALTER TABLE [dbo].[VoucherUsage]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([CustomerID])
GO
ALTER TABLE [dbo].[VoucherUsage]  WITH CHECK ADD FOREIGN KEY([VoucherID])
REFERENCES [dbo].[Voucher] ([VoucherID])
GO
USE [master]
GO
